<div class="row">
  <div class="col-lg-3 pt-3 ps-4 sidebar">
    <app-products-filter
      class="w-100"
      (filterChange)="onFilterChange($event)"
    ></app-products-filter>
  </div>

  <div class="col-lg-9">
    <div class="row p-0 my-4 mx-2">
      @for (product of products; track product.id) {
      <div class="col-6 col-md-4 col-lg-3 my-2">
        <app-product-card [product]="product"></app-product-card>
      </div>
      }
    </div>
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="perPage"
      [totalRecords]="totalRecords"
      [showCurrentPageReport]="true"
      [showPageLinks]="false"
      [showJumpToPageDropdown]="false"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
    />
  </div>
</div>
